# Database configuration
POSTGRES_USER=your_username
POSTGRES_DB=your_database
POSTGRES_PASSWORD=your_password
TZ=Asia/Jakarta

# Object Storage Configuration
MINIO_ROOT_USER=your_username
MINIO_ROOT_PASSWORD=your_password
MINIO_ENDPOINT=minio:9000

# Model Configuration
LLAMA_CPP_LLM_ENDPOINT=llama_cpp_llm:8080
LLAMA_CPP_EMBEDDING_ENDPOINT=llama_cpp_embedding:8080
LLAMA_CPP_RERANKER_ENDPOINT=llama_cpp_rerank:8080
LLAMA_CPP_KEY=your_api_key